.text-editor {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    border-top: 1px solid #CCC;

    &__toolbar {
        button {
            align-items: center;
            background: none;
            border: none;
            color: rgb(0, 114, 229);
            display: flex;
            padding: 12px 8px;
            cursor: pointer;
        }

        svg {
            font-size: 1em;
            margin-right: 4px;
        }
    }

    &__monaco {
        height: 100%;
    }
}