.jsx-renderer {
    &__error {
        background: indianred;
        border-top-left-radius: 4px;
        bottom: 0;
        color: #FFF;
        font-size: 12px;
        margin: 0;
        padding: 6px 8px;
        position: fixed;
        right: 0;
        top: auto;
    }
}